/**
* Base Unordered & Ordered List Styles
*/
ul,
ol {
  @include breakpoint(smedium) {
    margin-left: 80px;
  }
  margin: calc(#{$layoutContentMargin} * 1.5) 0 calc(#{$layoutContentMargin} * 2) 40px;
  padding: 0;

  li {
    margin-bottom: 15px;
    line-height: 1.4;
    list-style-position: outside;
    list-style-type: none;

    &:before {
      content: "";
      float: left;
      margin-left: -20px;
    }
  }
}

ul {
  li {
    &:before {
      float: left;
      margin-top: .4em;
      margin-left: -20px;
      height: .6em;
      width: .6em;
      background: $colourPrimary;
      border-radius: 50%;
    }
  }
}

ol {
  li {
    counter-increment: step-counter;

    &:before {
      content: counter(step-counter) ". ";
      margin-top: -.08em;
      // Adjustment to fix font family alignment
      color: $colourPrimary;
      font-family: $fontSecondary;
      font-size: 1em;
    }
  }
}
