/**
* Base Button Styles
*/
.btn {
  display: inline-block;
  padding: 16px 45px 14px;
  min-width: 180px;
  overflow: hidden;
  font-family: $fontSecondary;
  font-size: 1.8rem;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: color 50ms linear, background-color 50ms linear;
  &:hover {
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
  }

  // Primary Button
  &--primary {
    color: #ffffff;
    background-color: $colourPrimary;

    &:hover {
      color: #ffffff;
      background-color: $colourTertiary;
    }
  }

  // Secondary Button
  &--secondary {
    color: $colourPrimary;
    background-color: #ffffff;
    border: 1px solid $colourPrimary;

    &:hover {
      color: $colourTertiary;
      background-color: #ffffff;
    }
  }
}
