/**
* Global (Site Wide) Styles
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #000000;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  color: $colourText;
  font-family: $fontBody;
  font-size: 1.6rem;
  background: linear-gradient(#555555, #ffffff);
  transition: left .3s ease;

  &.nav-active {
    @include breakpoint(medium) {
      overflow: initial;
    }
    overflow: hidden;
  }
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  border: 0;
}

.svg-sprite {
  display: none;
}
