.search-input {
  padding: 20px;
  height: 530px;
  width: 100%;
  background-color: #f3ce56;
  @include media-up(sl) {
    width: 80%;
  }
  @include media-up(ml) {
    width: 50%;
  }
  &__input {
    position: relative;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      color: #444444;
      font-weight: 300;
    }
    input {
      padding: 12px 25px 12px 12px;
      font-size: .813em;
    }
  }
  &__results {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    background-color: #ffffff;
  }
}