//-------------------------------------------
// _objects.columns.scss
//-------------------------------------------

.columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.columns__two-thirds {
  flex-grow: .666;
  flex-shrink: .666;
}

.columns__half {
  flex-grow: .5;
  flex-shrink: .5;
}

.columns__one-third {
  flex-grow: .333;
  flex-shrink: .333;
}

.columns__quarter {
  flex-grow: .25;
  flex-shrink: .25;
}
