@mixin svg-mask($image, $colour, $size, $repeat, $position) {
  .no-cssmask & {
    background-image: url($image);
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
  }
  .cssmask & {
    background-color: $colour;
    mask-image: url($image);
    mask-position: $position;
    mask-repeat: $repeat;
    mask-size: $size;
  }
}
